<% include partials/header %>
<h1>
	Landing Page!
</h1>

<p>
	Welcome to YelpCamp
</p>

<a href="/campgrounds">View all campgrounds</a>

<h1>
	Search the web
</h1>

<form action="/results" method="GET">
	<input type="text" placeholder="search term" name="search">
	<input type="submit">
</form>

<% include partials/footer %>